<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the client_events_init() hook (in hooks/client_events.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="client_events-datetime-<%%VALUE(id)%%>" class="client_events-datetime"><%%SELECT%%><%%VALUE(datetime)%%><%%ENDSELECT%%></td>
		<td id="client_events-client-<%%VALUE(id)%%>" class="client_events-client"><%%SELECT%%><%%VALUE(client)%%><%%ENDSELECT%%></td>
		<td id="client_events-event-<%%VALUE(id)%%>" class="client_events-event"><%%SELECT%%><%%VALUE(event)%%><%%ENDSELECT%%></td>
		<td id="client_events-details-<%%VALUE(id)%%>" class="client_events-details"><%%SELECT%%><%%VALUE(details)%%><%%ENDSELECT%%></td>
