<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the dns_managers_init() hook (in hooks/dns_managers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="dns_managers-dns_manager-<%%VALUE(id)%%>" class="dns_managers-dns_manager"><%%SELECT%%><%%VALUE(dns_manager)%%><%%ENDSELECT%%></td>
