<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the operating_systems_init() hook (in hooks/operating_systems.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="operating_systems-operating_system-<%%VALUE(id)%%>" class="operating_systems-operating_system"><%%SELECT%%><%%VALUE(operating_system)%%><%%ENDSELECT%%></td>
